{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>Kolom</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,500,500italic,700,900">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">


        <!--
        Artcore Template
		http://www.templatemo.com/preview/templatemo_423_artcore
        -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo-misc.css' %}">
        <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">

        {% block link %}
          
        {% endblock link %}

        <script src="{% static 'js/vendor/modernizr-2.6.1-respond-1.1.0.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <section id="pageloader">
            <div class="loader-item fa fa-spin colored-border"></div>
        </section> <!-- /#pageloader -->

        <header class="site-header container-fluid">
            <div class="top-header">
                <div class="logo col-md-6 col-sm-6  py-2">
                    <h1><a href="{% url 'home' %}"><em>Kolom</em></a></h1>
                </div> <!-- /.logo -->
                <div class="social-top col-md-6 col-sm-6 py-2">
                    <ul>
                        <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100007338286387" class="fa fa-facebook"></a></li>
                        <li><a target="_blank" href="https://twitter.com/davidkudrot" class="fa fa-twitter"></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/in/david-kudrot/" class="fa fa-linkedin"></a></li>
                        <li><a href="mailto:davidkudrot@gmail.com" class="fa fa-envelope"></a></li>
                    </ul>
                </div> <!-- /.social-top -->
            </div> <!-- /.top-header -->
            <div class="main-header" style="padding: 2px; min-height: 47px;">
                <div class="row">
                    <div class="main-header-left col-md-3 col-sm-6 col-xs-8">
                        <a id="search-icon" class="btn-left fa fa-search" href="#search-overlay"></a>
                        <div id="search-overlay">
                            <a href="#search-overlay" class="close-search"><i class="fa fa-times-circle"></i></a>
                            <div class="search-form-holder">
                                <h2>Type keywords and hit enter</h2>
                                <form id="search-form" action="#">
                                    <input type="search" name="s" placeholder="" autocomplete="off" />
                                </form>
                            </div>
                        </div><!-- #search-overlay -->
                    </div> <!-- /.main-header-left -->
                    <div class="menu-wrapper col-md-9 col-sm-6 col-xs-4">
                        <a href="#" class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a>
                        <ul class="sf-menu hidden-xs hidden-sm">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'blogs' %}">Blogs</a>
                            </li>
                            <li><a href="{% url 'contact_us' %}" class="">Contact</a></li>
                            {% if request.user.is_authenticated %}
                      
                            <li><a href="{% url 'profile' %}" class="border border-1 rounded-2 border-info bg-transparent p-2">Dashboard</a>
                            </li>
                            <li><a href="{% url 'logout' %}" class="border border-1 border-success bg-transparent p-2 rounded-2">Sign out</a></li>
                            

                            {% else %}

                            <li><a href="{% url 'register' %}" class="border border-1 rounded-2 border-info bg-transparent p-2">Sign up</a></li>
                            <li><a href="{% url 'login' %}" class="border border-1 rounded-2 border-success bg-transparent p-2">Sign in</a></li>

                            {% endif %}
                        </ul>
                    </div> <!-- /.menu-wrapper -->
                </div> <!-- /.row -->
            </div> <!-- /.main-header -->
            <div id="responsive-menu">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'blogs' %}">Blog</a></li>
                    <li><a href="{% url 'contact_us' %}" class="">Contact</a></li>

                    {% if request.user.is_authenticated %}
                      
                    <li><a href="{% url 'profile' %}" class="btn btn-primary bg-transparent">Dashboard</a>
                    </li>
                    <li><a href="{% url 'logout' %}" class="btn btn-primary bg-transparent">Sign out</a></li>

                    {% else %}

                    <li><a href="{% url 'register' %}" class="btn btn-primary bg-transparent">Sign up</a></li>
                    <li><a href="{% url 'login' %}" class="btn btn-success bg-transparent">Sign in</a></li>

                    {% endif %}
                    
                    
                </ul>
            </div>
        </header> <!-- /.site-header -->



        {% block content %}
          
        {% endblock content %}



<hr style="border: 1px solid #000; font-weight: bold;">
        

<!-- Footer -->
<!-- <footer class="site-footer pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Contact Us</h4>
                <p>Email: kolom@gmail.com</p>
                <p>Phone: +000 12515 54165</p>
            </div>
            <div class="col-md-4">
                <h4 class=" mb-3">Follow Us</h4>
                <ul class="social-icons d-flex gap-4 ">
                    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100007338286387" class="fa fa-facebook fs-4 text-primary "></a></li>
                    <li><a target="_blank" href="https://twitter.com/davidkudrot" class="fa fa-twitter fs-4 text-success "></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/david-kudrot/" class="fa fa-linkedin fs-4 text-info "></a></li>
                    <li><a href="mailto:davidkudrot@gmail.com" class="fa fa-envelope fs-4 text-dark"></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Quick Links</h4>
                <ul class="footer-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Pages</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer> -->

{% include "footer.html" %}


<!-- End Footer -->


       

        <script src="{% static 'js/vendor/jquery-1.11.0.min.js' %}"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

        <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>


        <!-- additional for home page -->
        



        <!-- sweet alert code  -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
            {% for i in messages %}
            <script>
            Swal.fire({
                text: "{{i}}",
                icon: "{{i.tags}}",
            });
            </script>
            {% endfor %}


        <!-- Preloader -->
        <script type="text/javascript">
            //<![CDATA[
            $(window).load(function() { 
                $('.loader-item').fadeOut(); 
                    $('#pageloader').delay(350).fadeOut('slow');
                $('body').delay(350).css({'overflow-y':'visible'});
            })
            //]]>
        </script>

    </body>
</html>
