<footer class="bg-body-tertiary text-center pb-0 border-top">

  <p class="text-center text-black" style="font-size: 2rem !important; font-family: Georgia, 'Times New Roman', Times, serif;">Top Blogs</p>
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Images -->
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://images.pexels.com/photos/267389/pexels-photo-267389.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://images.pexels.com/photos/768474/pexels-photo-768474.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://images.pexels.com/photos/4240507/pexels-photo-4240507.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://images.pexels.com/photos/3194523/pexels-photo-3194523.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://images.pexels.com/photos/7964660/pexels-photo-7964660.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div data-mdb-ripple-init
              class="bg-image hover-overlay shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img src="https://images.pexels.com/photos/7670114/pexels-photo-7670114.jpeg?auto=compress&cs=tinysrgb&w=600" class="w-100" />
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>
    <!-- Grid container -->


    <div class="pt-4" style="background-color: rgb(65, 65, 65);">
        <div class="row">
            <div class="col-md-3">
                <h4 class="text-white">Contact Us</h4>
                <p class="text-white">Email: kolom@gmail.com</p>
                <p class="text-white">Phone: +000 12515 54165</p>
            </div>
            <div class="col-md-3">
                <h4 class=" mb-3 text-white">Follow Us</h4>
                <ul class="social-icons d-flex gap-4 justify-content-center border-end-0 ">
                    <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100007338286387" class="fa fa-facebook fs-4 text-primary border-end-0"></a></li>
                    <li><a target="_blank" href="https://twitter.com/davidkudrot" class="fa fa-twitter fs-4 text-success "></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/david-kudrot/" class="fa fa-linkedin fs-4 text-info "></a></li>
                    <li><a href="mailto:davidkudrot@gmail.com" class="fa fa-envelope fs-4 text-primary"></a></li>
                </ul>
            </div>
            <div class="col-md-3">
              <h4 class="text-white">Use Map</h4>
              <div class="googlemap-wrapper py-2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d235968.49756107415!2d88.40130626625692!3d22.466342148200596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1705492320293!5m2!1sen!2sin" width="200" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
            </div>
            <div class="col-md-3 pb-3 ">
                <h4 class="text-white">Quick Links</h4>
                <ul class="footer-links">
                    <li><a class="text-white" href="{% url 'home' %}">Home</a></li>
                    <li><a class="text-white" href="#">Blog</a></li>
                    <li><a class="text-white" href="#">Pages</a></li>
                    <li><a class="text-white" href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center p-3 text-white" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright:
          <a class="text-body " href="#" style="color: white !important;">kolom@gmail.com</a>
        </div>
    </div>

  
    <!-- Copyright -->
    <!-- Copyright -->
  </footer>